.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeIn{
    display: block!important;
    opacity:1;
    width:100px;
    height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.highlight{
    font-size: 1.1rem;
    div{
        font-weight: bold;
    }
}

.nav-scroll{
    padding-top: 0!important;
    padding-bottom: 0!important;
    transition: padding .5s linear;
    background-color: rgba(0, 0, 0, 0.483);
    border-bottom: 1px solid #fff;
    .container{
        padding-bottom: 0!important;
        border-bottom: 0!important;
    }
}

.active--nav{
    background: white;
    border-radius: 50%;
    padding: 10px 8px!important;
    color: #000!important;
}

.subheading{
    span{
        font-weight: bold;
        font-size: 1.1rem;
    }
}

.hit-pinata{
    font-size: 1rem;
    font-weight: bold;
}

.vanta-js{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.text-primary{
    color: #0C3050!important;
}

.bg-primary {
    background-color: #FBFBFB!important;
}

.subheading {
    line-height: 1.6rem;
}

$animationEasing : cubic-bezier(0.86, 0, 0.07, 1);
$animationDuration : .8s;

.Wording {
    display: flex;
}
  
.List {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 250px!important;
    position: relative;
    overflow: hidden;
    color: #000;
    padding-bottom: 0px;
    height: 24px;
    position: relative;
    top: 5px;
    list-style: none;

    &-item {
        position: absolute;
        will-change: transform, opacity;
        
        &.is-active {
            animation: slideIn $animationDuration $animationEasing forwards;
        }
        &:not(.is-active) {
            animation: slideOut $animationDuration $animationEasing forwards;
        }
    }

    li {
        font-size: 18px; 
        background-color: #FBFBFB;
        padding: 0px 8px;
        margin-left: 10px;
        width: max-content;
        top: -5px;
    }
}
 
#about {
    p {
        line-height: 1.6rem;
    }
}
.ListAbout__first {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: max-content;
    position: relative;
    overflow: hidden;
    color: white;
    padding-bottom: 0;
    height: 26px;
    position: relative;
    width: 260px!important;
    margin: 0 10px;
    position: relative;
    top: 4px;
}

.List-item__first {
    position: absolute;
    will-change: transform, opacity;
    font-size: 1rem; 
    background-color: #0C3050;
    padding: 2px 8px;
    width: max-content;
    text-align: center;
}

.List-item__first.is-active {
    animation: slideIn $animationDuration $animationEasing forwards;
}

.List-item__first:not(.is-active) {
    animation: slideOut $animationDuration $animationEasing forwards;
}

.ListAbout__second {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 220px!important;
    position: relative;
    overflow: hidden;
    color: white;
    padding-bottom: 0;
    height: 26px;
    position: relative;
    top: 5px;
}

.List-item__second {
    position: absolute;
    will-change: transform, opacity;
    font-size: 1rem; 
    background-color: #0C3050;
    padding: 2px 8px;
    width: max-content;
    // margin-left: 10px;
    margin-right: 10px;
}

.List-item__second.is-active {
    animation: slideIn $animationDuration $animationEasing forwards;
}

.List-item__second:not(.is-active) {
    animation: slideOut $animationDuration $animationEasing forwards;
}
  
@keyframes slideIn {
    from {
      transform: translateY(-100%);
          opacity: 0;
    }
  
    to {
      transform: translateY(0);
    }
}
  
@keyframes slideOut {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(100%);
          opacity: 0;
    }
}

#home { 
    height: 60vh;
}

#about {
    z-index: 100;
    position: relative;
    top: 200px;
    transform: skewY(-7deg);
    box-shadow: 11px 41px 55px -60px, rgb(0, 0, 0 / 98%) inset;
    p {
        color: #000;
    }
    .container {
        transform: skewY(7deg);
        padding-top: 10rem;
        padding-bottom: 9rem;
    }
}

#team {
    h2 {
        color: #000;
    }
    .content-hero {
        padding: 50px 0 0px 0!important;
    }
}
.portfolio-wrap h3 {
    color: #0C3050 !important;
}
.portfolio-content p {
    color: #000!important;
}

#services {
    h2 {
        color: #000;
    }
}

#services-section {
    h5 {
        color: #0C3050 !important;
    }
    .cardd p {
        color: #000;
    }
}

#newsletter {

    background-color: #07193C;
    padding: 5rem 0 3rem 0;

    p {
        font-size: 1.25rem;
    }

    .input-group {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;

        input {
            // border: 0;
            // border-top-left-radius: .5rem;
            // border-bottom-left-radius: .5rem;
            // height: 49px;
            // background-color: #FBFBFB;
            // padding: 1.4rem 1.6rem;
        }

        > div > div {
            // width: max-content!important;
            font-weight: 300;
            font-family: "Poppins", sans-serif;
            font-size: .8rem;
            line-height: 16px;
            // bottom: -60px;
        }

        .input-group-append {
            justify-content: center;
            display: flex;
            flex-direction: column;
            background-color: white;
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            height: 49px;

            button {
                height: max-content;
                border:0;
                border-left: 1px solid #414145;
                border-radius: 0;
                color: #414145;
                padding-right: 1.5rem;
                position: relative;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .List {
        height: 36px;
        display: block;
    }
    .List li {
      margin-left: 0;
      font-size: 22px;
      padding: 5px 10px;
    }
    #about .container {
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .ListAbout__second li{
        margin-left: 0;
    }
    .h-title {
        mix-blend-mode: unset!important;
    }
    #services .content-hero {
        position: relative;
        width: 100%;
        padding: 250px 0 0px 0!important;
    }
    #services-section img {
        height: inherit!important;
        width: max-content!important;
    }
    #newsletter .input-group{
        width: 100%;
    }
    .site-nav {
        background: #0000!important;
    }
    .nav-scroll {
        background: #00000082!important;
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
}

@media (max-width: 767px) {
    .h-title {
        mix-blend-mode: unset!important;
    }
    footer.section {
        padding: 7rem 0 2rem 0;
    }
    .nav-scroll {
        background: #00000082!important;
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
}
@media (max-width: 576px) {
    .ListAbout__first {
        margin-left: 0;
    }
}

.rotated_space {
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
}

.disabled {
    pointer-events: none;
    opacity: .6;
}